html {
  background: white;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.button {
  position: absolute;
  background-color: transparent;
  height: 15px;
  width: 15px;
  border-color: red;
}

#goButton {
  position: absolute;
}

.mainlabel {
  font-size: 13px;
  text-anchor: middle;
}

.sublabel {
  font-size: 13px;
}

.guaminfo {
  font-size: 13px;
  font-weight: bold;
}

.startingtext {
font-weight: bold;
}


