html {
  background: white;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.button {
  position: absolute;
  background-color: transparent;
  height: 15px;
  width: 15px;
  border-color: red;
}

.returnButton {
  position:absolute;
}

.tooltip {
  background-color: white;
  font: 13px "Roboto Slab", sans-serif;
  position: absolute;
  z-index: 10;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #A4A0A7;
}

.tooltip {
  background-color: white;
  font: 13px "Roboto Slab", sans-serif;
  position: absolute;
  z-index: 10;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #A4A0A7;
}